body{
      background-color: rgb(211, 0, 141);
}
header{
      background-color: rgba(125, 43, 226, 0.489);
color: rgb(0, 25, 211);
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 20px
}
main{;
display: flex;
}
article{
       background-color: rgb(226, 43, 195);
     color: darkmagenta;
    text-align: justify;
}
main{
   display: flex;
   max: width 800px;
   margin:  20px;
   padding: 15px;
}
article{
      background-color: blueviolet;
      color: crimson;
      text-align:justify;