body{
      background-color: darkviolet;
}
header{
      background-color: rgba(125, 43, 226, 0.489);
color: rgb(211, 0, 193);
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 20px
}









